@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: georgia;
  src: url(../../public/assets/font/georgia/georgia.ttf);
}
@font-face {
  font-family: "georgia-bold";
  src: url(../../public/assets/font/georgia/georgiab.ttf);
}
body,
html {
  overflow-x: hidden;
}
.text_webkit {
  text-shadow: -3px -3px 0 #192335, 3px -3px 0 #192335, -3px 3px 0 #192335,
    3px 3px 0 #192335;
}
.bg_text_left {
  animation: stewart 6s linear infinite;
}
@keyframes stewart {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
.bg_text_right {
  animation: finaldi 6s linear infinite;
}
@keyframes finaldi {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

/* svg  */
.hover_arrow:hover svg path {
  fill: white !important;
}
.group:hover .choose_svg svg path {
  fill: white !important;
}

/* slider  */
.swiper {
  width: 100%;
  overflow: unset !important;
}
.swiper-slide-active .active_silde {
  opacity: 1 !important;
}

/* SLIDER BULLETS */
.swiper-pagination .swiper-pagination-bullet {
  background: #cd530f !important;
  width: 14px !important;
  height: 14px !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 41px !important;
  border-radius: 20px !important;
}
.swiper-pagination {
  position: absolute;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -70px !important;
}
