@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: georgia;
  src: url(../../public/assets/font/georgia/georgia.ttf);
}
@font-face {
  font-family: "georgia-bold";
  src: url(../../public/assets/font/georgia/georgiab.ttf);
}
.text_webkit {
  text-shadow: -3px -3px 0 #192335, 3px -3px 0 #192335, -3px 3px 0 #192335,
    3px 3px 0 #192335;
}
.stewart_text_animation {
  animation: stewart 6s linear infinite;
}
@keyframes stewart {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
.finaldi_text_animation {
  animation: finaldi 6s linear infinite;
}
@keyframes finaldi {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

/* svg  */
.hover_arrow:hover svg path {
  fill: white !important;
}
.group:hover .choose_svg svg path {
  fill: white !important;
}


/* slider  */
.swiper {
  width: 100%;
}